body
{
  border:0;
  width: 100%;
  /*height: 400px;*/
}
.layout
{
  height: 100vh;
  width: 33%;
  display: inline-block;
}
.blue
{
  background: lightblue;
}

.green
{
  background-color: lightgreen;
}

.yellow
{
  background-color: yellow;
  height:75%;
}

.red
{
  background-color: red;
  height:25%;
  padding-top: 10%;
  padding-left: 10%;
  color: white;
  font-size: 30px;
}
